body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #5e73a3;
    background-color:#e2f1ff;
    margin: 0;
}
a{
    color: #5e73a3;
    font-weight: bold;
}
a:hover{
    color: #273453;
}
.meny{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;

    
}

.picture{
    width: 400px;
    height: auto;
    border-radius: 100%;

}
li{
    list-style-type: none;
    font-weight: bold;
}
.lista{
    padding-right:45px;
}
li{
    list-style-type:none;

}
.names{
    margin-bottom: 3rem;
    margin-top:2rem;
    text-align: center;
}
.minions{
    margin-left: 0;
    max-width: 100%;
}

a{
    text-decoration: none;
}
.bot{
    padding:1% 0 1%
}
#carouselExampleControls{
    height:50%;
}
.button{
    padding-left: 7%;

}
.buttons{
    padding-right: 7%;
}
#carouselExampleControls{
    height:30%;
}

.mariasProfil{
    padding-bottom: 2%;
}